@charset "utf-8";
@import url("metropolis-font.scss");

$family-primary: NZMetropolis, sans-serif;

@import "~bulma/bulma";

.title {
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.navbar-item .title {
    font-size: 1.6rem;
    letter-spacing: -1.5px;
}

.hero {
    .hero-body {
        text-align: center;

        .title {
            font-weight: 200;
            text-transform: none;
            font-size: 3.5rem;
            letter-spacing: 0.1rem;
            margin-bottom: 4rem;
        }
    }
}

.label { font-weight: normal; }

div.bottom-notif {
    display: none;
    position: fixed;
    left: 4rem;
    right: 4rem;
    bottom: 2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
div.bottom-notif.is-visible {
    display: flex;
}